@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  background: #070b14;
  font-family: Inter, sans-serif;
  color: white;
}

* {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

/* REMOVE DEFAULT BROWSER PASSWORD EYE */

.hide-password-toggle::-ms-reveal,
.hide-password-toggle::-ms-clear {
  display: none;
}

.hide-password-toggle::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
}